body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('images.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 5px;
}

h2 {
  text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#forgot-password-link {
    text-decoration: none;
    color: #337ab7;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 5px;
}
#forgot-password-link:hover {
    color: #23527c;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #3e8e41;
}
#error-msg {
    color: red;
    text-align: center;
    margin-top: 10px;
}